.about_container{
    display: flex;
    column-gap: 1.875rem;
}

.about_data{
    
    display: flex;
    background-color: var(--container-color);
    width: 100%;
    padding: 1.875rem;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    column-gap: 1.875rem;
}

.about_info{
    flex: 1;
}

.about_description{
    margin-bottom: 1rem;
    text-align: justify;
}

.about_skills{
    flex: 1;
    display: flex;
    row-gap: 1.25rem;
    flex-direction: column;
}

.skill_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.skill_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skill_number{
    line-height: 1.2;
}

.skill_bar, .skill_percentage{
    height: 7px;
    border-radius: 0.25rem;
}

.skill_bar{
    background-color: #d1f1f1;
}

.development{
    width: 90%;
    background-color: rgb(255, 209, 92);
}

.ui_design{
    width: 80%;
    background-color: rgb(255, 76, 96);
}

.photography{
    width: 60%;
    background-color: rgb(108, 108, 299);
}

.about_boxes .about_boxes-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4.25rem;
}

.about_box{
    display: flex;
    column-gap: 1.5rem;
}

.about_icon{
    font-size: var(--h1-font-size);
}

.about_title{
    font-size: 1.875rem;
}

@media screen and (max-width: 900px) {
    .section_title{
        display: flex;
        justify-content: center;
    }

    .about_container, .about_boxes{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 50vw;
        margin: auto;
    }

    .about_boxes{
        display: flex;     
    }

    .about_boxes-container{
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .about_container{
        margin-bottom: 1.5rem;
    }
}