.home{
    border: 1px solid;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    
    max-width: 540px;
    text-align: center;
}

.home_img{
    margin-bottom: 1.5rem;
}

.home_name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home_socials{
    display: flex;
    margin: 1.5rem 0;
    column-gap: 1.75rem;
    display: flex;
    justify-content: center;   
}

.home_social-link{
    font-size: 1.3rem;
    color: var(--title-color);
    transition: 0.3s;
}

.home_social-link:hover{
    color: hsl(43, 100%, 68%);
}

.btn{
    border: 1px solid transparent;
    line-height: 1;
    border-radius: 1.875rem;
    background-color: var(--first-color) ;
    padding: 0.75rem 2rem;
    color: #fff;
    font-weight: var(--font-bold);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    display: inline-block;
}

@keyframes button-push {
    50%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }
}

.btn:hover{

    animation: button-push 0.3s linear 1;
    
}