.home{
    border: 1px solid;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    
    max-width: 540px;
    text-align: center;
}

.home_img{
    margin-bottom: 1.5rem;
}

.home_name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home_socials{
    display: flex;
    margin: 1.5rem 0;
    column-gap: 1.75rem;
    display: flex;
    justify-content: center;   
}

.home_social-link{
    font-size: 1.3rem;
    color: var(--title-color);
    transition: 0.3s;
}

.home_social-link:hover{
    color: hsl(43, 100%, 68%);
}



